@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

// Breakpoints
$bp-small: 568px;
$bp-medium: 768px;
$bp-large: 992px;

// Rulers
$ruler-xs: 4px;
$ruler-sm: 8px;
$ruler-md: 16px;
$ruler-lg: 32px;
$ruler-xl: 64px;

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.darkTheme {
  color: #f1f5f8;
  transition: 500ms;
  background-color: #111;
}

.lightTheme {
  color: #7723db;
  transition: 500ms;
  background-color: #fff;
}
