@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

// VARIABLES

//- Breakpoints
$bp-small: 568px;
$bp-medium: 768px;
$bp-large: 992px;

//- Rulers
$ruler-xs: 4px;
$ruler-sm: 8px;
$ruler-md: 16px;
$ruler-lg: 32px;
$ruler-xl: 64px;

::selection {
  color: #fff;
  background-color: #7723db;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #7723db;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7723dbcc;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: 'Quicksand', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//THEME

.darkTheme {
  color: #f1f5f8;
  transition: 300ms;
  background-color: #111;
}

.lightTheme {
  color: #191919; //#7723db
  transition: 300ms;
  background-color: #fff;
}

// TYPOGRAPHY
.title,
.heading,
.content,
.link {
  margin: 0;
  color: inherit;
  font-weight: 500;
}

.title {
  font-size: 36px;
}

.heading {
  font-size: 28px;
}

.content {
  font-size: 18px;
  margin-top: $ruler-lg;
  line-height: 35px;
}

.link {
  text-decoration: none;
}

.cimri-texture {
  color: #4990e2;
}
.linkedin-texture {
  color: #0076b5;
}

@media only screen and (max-width: $bp-medium) {
  .title {
    font-size: 32px;
  }
  .heading {
    font-size: 22px;
  }
  .content {
    font-size: 16px;
  }
}
