@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

// VARIABLES

//- Breakpoints
$bp-small: 568px;
$bp-medium: 768px;
$bp-large: 992px;

//- Rulers
$ruler-xs: 4px;
$ruler-sm: 8px;
$ruler-md: 16px;
$ruler-lg: 32px;
$ruler-xl: 64px;

body {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: 'Quicksand', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//THEME

.darkTheme {
  color: #f1f5f8;
  transition: 500ms;
  background-color: #111;
}

.lightTheme {
  color: #191919; //#7723db
  transition: 500ms;
  background-color: #fff;
}

// TYPOGRAPHY
.title,
.heading,
.content {
  margin: 0;
  color: inherit;
  font-weight: 500;
}

.title {
  font-size: 40px;
}

.heading {
  font-size: 32px;
}

.content {
  font-size: 22px;
}

@media only screen and (max-width: $bp-medium) {
  .title {
    font-size: 32px;
  }
  .heading {
    font-size: 22px;
  }
  .content {
    font-size: 16px;
  }
}
